@model TallinnaRakendusLikKolledz.Models.Delinquent
@{
	ViewData["Title"] = "Details";
}
<p>
	<h3>Details</h3>
</p>
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.FirstName)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastName)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dd>
	</dl>

	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Violation)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Violation)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Position)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Position)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Solved)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Solved)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Solving)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Solving)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.InCourt)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.InCourt)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Dropped)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Dropped)</dd>
	</dl>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.PoliceInvolved)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.PoliceInvolved)</dd>
	</dl>
			
</div>
<div>
	<a asp-action="Index">Back to List</a>


</div>