@model TallinnaRakendusLikKolledz.Models.Instructor
@{
	ViewData["Title"] = "Kustuta õpetaja";
}
<h1>Kustuta õpetaja</h1>
<h3>Kas soovid kustutada @Html.DisplayFor(model => model.FullName)</h3>
<div>
	<h4>Õpetaja</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model=> model.LastName)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.LastName)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.FirstName)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.HireDate)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.HireDate)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.OfficeAssigments)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.OfficeAssigments)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Age)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.Age)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.Gender)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Gender)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.MartialStatus)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.MartialStatus)</dt>
	</dl>
	<form asp-action="Delete">
		<input type="hidden" asp-for="ID" />
		<input type="submit" value="Kustuta" class="btn btn-danger" /> <a asp-action="Index">Tühista</a>
		
	</form>

</div>