@model TallinnaRakendusLikKolledz.Models.Instructor
@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Instructors</h4>

<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model => Model.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model => Model.LastName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.HireDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model => Model.HireDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.OfficeAssigments)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model => Model.OfficeAssigments)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.Age)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model => Model.Age)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.Gender)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model => Model.Gender)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.MartialStatus)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(Model => Model.MartialStatus)
    </dd>
    

</dl>

<div>
    <a asp-action="Index">Back to List</a> | 
    <a asp-action="Edit" asp-route-id="@Model.ID">Muuda</a>
   
</div>
