@model IEnumerable<TallinnaRakendusLikKolledz.Models.Student>
@{
    ViewData["Title"] = "Õpilased";
}
<h1>Õpilaste Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.EnrollmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

      
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.EnrollmentDate)
                </td>
                <td>
                                        
                    <a asp-action="Delete" asp-route-id="@student.ID">Delete</a>
                    <a asp-action="Details" asp-route-id="@student.ID">Details</a>
                    <a asp-action="Edit" asp-route-id="@student.ID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>